<button (click)="initData()">Init data (click on me once)</button>

<input style="width:100%;" type="text" [value]="'1600 Amphitheatre Parkway, Mountain View, CA'" (change)="changeAddress($event)">

<pre>
    {{rawResult|json}}
</pre>